form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #2E8B57;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #256b46;
}

